.blank-klass-error {
    position: absolute;
    left: 1100px;
    color: red;
}

#prof-review-form-label-2 {
    position: relative;
    right: 23px;
}

.prof-review-form-blank-body-error {
    color: red
}

.error {
    color: red;
}

.prof-form-school-name-error {
    position: absolute;
    left: 1110px;
}