#footer{
    position: fixed;
    bottom: 0px;
    background: black;
    color: white;
    padding: 6px 64px;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

#github {
    height: auto;
    width: 150%;
}

#linkedin {
    height: auto;
    width: 35%;
    margin-left: 50px;
}

#socials {
    width: 150px;
    height: 40px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
}