@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Source+Sans+Pro:wght@300;600;900&display=swap');

.page-not-found-header {
    color: #00adee;
    margin-bottom: 10px;
    font-size: 52px;
    font-family: 'Pathway Gothic One', sans-serif;
}

page-not-found-subtext {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 23px;
    padding-top: 10px;
}