@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Source+Sans+Pro:wght@200;400&display=swap');

#prof-form {
    position: relative;
    top: 100px;
    // margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prof-form-header {
    font-family: 'Pathway Gothic One', sans-serif;
    color: #00adee;
    font-size: 52px;
    padding-bottom: 25px;
}

#prof-form-important {
    margin-bottom: 20px;
    color: #908c8c;
    font-family: "Source Sans Pro", sans-serif;
}

#prof-form > label {
    height: 35px;
    line-height: 22px;
    font-family: "Source Sans Pro", sans-serif;
    color: #878783;
    font-size: 12px;
    letter-spacing: 0.14em;
    font-weight: 700;
    text-align: left;
    width: 245px;
}

#prof-form > input {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 7px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

#prof-form-submit {
    width: 250px;
    margin-top: 50px;
    background-color: #00adee;
    color: #fff;
    font-family: 'Pathway Gothic One', sans-serif !important;
    font-size: 28px !important;
    line-height: 36px;
    border: none !important;
}