.no-search-results {
    font-size: 26px;
    margin-bottom: 32px;
}

.no-search-results-subtext {
    font-size: 16px;
    margin-bottom: 41px;
}

.search-header {
    font-size: 22px;
    margin-bottom: 41px;
}