@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Source+Sans+Pro:wght@300;600;900&display=swap');

.school-rating-show-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    letter-spacing: 0.14em;
    font-size: 14px;
}

.school-rating-show-date {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #464645;
}

.school-rating-show-comment {
    width: 473px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #7d7c77;
    line-height: 23px;
    margin-bottom: 35px;
}