@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Source+Sans+Pro:wght@300;900&display=swap');

.session-form {
    position: relative;
    top: 200px;
    margin-left: 110px;
    margin-bottom: 350px;
}

.session-header {
    font-size: 52px;
    font-family: 'Pathway Gothic One', sans-serif; 
    color: black;
    margin-bottom: 20px;
}

.anonymity-txt-row {
    display: flex;
    width: 645px;
    justify-content: flex-end;
    margin-bottom: 45px;
}

.anonymity-txt-col {
    display: flex;
    width: 380px;
    justify-content: center;
}

.anonymity-txt {
    background: #e7e7de;
    padding: 10px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: #777777;
}

#signup-form-proper {
    display: flex;

}

#signup-left {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
}

#signup-right {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

#signup-left > label {
    margin-bottom: 64px;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: #7d7c77;
    top: 80px;
    font-size: 12px;
}

#signup-right > input {
    margin-top: 10px;
    line-height: 1.1;
    max-width: 364px;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #d6d7d2;
    background-color: white;
    outline: none;
}

.school-prof-form-input:focus {
    border: 1px solid black;
}

.edit-user-form-input:focus {
    border: 1px solid black;
}

#signup-submit {
    margin-top: 20px;
    background-color: #00adee;
    padding: 10px;
    color: #fff;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 28px;
    line-height: 36px;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition-duration: 0.4s;
}

#signup-button:hover {
    background-color: chartreuse;
}

#signup-right > * {
    margin-bottom: 30px;
}

.signup-errors {

    color: #a12121;
    font-size: 15px;
    font-weight: 700;
    width: 700px;
}

#signup-login-txt {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    color: #7d7c77;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 300;
}

#signup-login-button {
    background-color: #000;
    padding: 10px;
    color: #fff;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 28px;
    line-height: 36px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#signup-login-button:hover {
    background-color: chartreuse;
}

.account-type-buttons {
    width: 364px;
    display: flex;
    justify-content: center;
    gap: 40px;
}